form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #d2d3b5;
}

.input {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .input {
    display: flex;
    justify-content: center;
  }
}

.info-header {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .info-header {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 30px;
  }
}

label {
  font-size: 25px;
}

input {
  margin: 4px auto 10px auto;
  padding: 5px 60px;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 900px) {
  input {
    width: 90%;
    margin: auto;
    padding: auto;
  }
}

#delivery {
  margin-bottom: 400px;
}

label,
input[type="radio"] {
  display: inline;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 900px) {
  label,
  input[type="radio"] {
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    margin: auto;
    padding: auto;
    width: 90%;
  }
}

input[type="submit"] {
  width: 250px;
  height: 70px;
  font-size: 30px;
  margin: 70px auto 250px auto;
  border-radius: 5%;
  cursor: pointer;
}

input[type="submit"]:hover {
  transition: 0.7s;
  background-color: #c3423f;
  color: white;
}

@media (max-width: 900px) {
  footer {
    width: 95%;
  }
}
