@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

:root {
  --mountbatten-pink: #90708c;
  --shadow: #857e61;
  --black-chocolate: #231c07;
  --coral: #f78764;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Playfair Display SC", serif;
}

/* LANDING PAGE */
.pics {
  background-color: black;
  width: 100%;
  height: 500px;
}

/* ABOUT PAGE */
.logo {
  color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: fixed;
  width: 100%;
  background-color: var(--black-chocolate);
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  color: whitesmoke;
}

.nav-links a {
  color: whitesmoke;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.billboard {
  background-color: var(--shadow);
  width: 100%;
  height: 475px;
}

.page-description {
  text-align: center;
  margin: 5% 10% 0 10%;
  font-size: 22px;
}

.page-content {
  margin-top: 35px;
}

/* FORMS PAGE */
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
