@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

:root {
  --mountbatten-pink: #90708c;
  --shadow: #857e61;
  --black-chocolate: #231c07;
  --coral: #f78764;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
  color: var(--black-chocolate);
}

/* LANDING PAGE */
.pics {
  background-color: black;
  width: 100%;
  height: 500px;
}

/* ABOUT PAGE */
#logo-nav {
  width: 70px;
  height: 60px;
}

.page-content {
  margin-top: 16px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: fixed;
  width: 100%;
  background-color: var(--black-chocolate);
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  color: whitesmoke;
}

.nav-links a {
  color: whitesmoke;
}

.logo-nav {
  width: 50px;
  height: 50px;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.billboard {
  width: 100%;
  height: 475px;
}

.billboard > img {
  width: 100%;
  height: 475px;
}

#catawba-pic-home {
  width: 100%;
  height: 800px;
}

#logo-overlay {
  margin-top: -300px;
}

#logo-fadein {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  box-shadow: 30px 30px 55px black;
  animation-name: fadein-logo;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadein-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-description {
  text-align: center;
  margin: 40px 10% 100px 10%;
  font-size: 22px;
}

#team-intro {
  margin-top: 80px;
}

.bio-pic {
  width: 200px;
  height: 200px;
  margin-right: 40px;
  box-shadow: 10px 10px 5px grey;
}

.bio {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

#kayla {
  margin-top: 150px;
}

#outro {
  margin-top: 100px;
}

footer {
  margin: 50px auto 50px auto;
  font-size: 22px;
  display: flex;
  justify-content: center;
}
